<main class="holder">

    <div class="homeimg">
        <img src="images/abog.png" alt="">
    </div>


    <section class="content tarifas" id="preguntas">
        <article class="contain">
            <center>
                <img src="images/destacados.png" alt="">
                <h2><u>Estudio Jurídico</u></h2>

                <h2>Dra. Ayala Celia y Asociados</h2>
                <center>
                    <p>¿Quieres un poco de música mientras recorres la página?
                        <br>
                        HAZ CLICK Y DISFRUTALO
                    </p>
                </center>
                <center><video src="images/musicalenta.mp3" height="100px" width="300px" controls=""></video></center>

                <br><br>
                <h2>Especialidades en derecho laboral,familia,previsional,defensa penal,defensa civil y comercial
                </h2>
                <p>Para saber cuanto te corresponde de indemnización,un cobro no pagado, etc dejanos tu mensaje y te
                    respondemos
                    a la brevedad . CUALQUIER DUDA ESTAMOS PARA VOS</p>
                <p> Al momento de realizar su consulta,ser direccionado inmediatamente con un profesional para
                    evacuar
                    cualquier inquietud.</p>
                <h2><mark>IMPORTANTE</mark></h2>
                <p>Las consultas no son <strike> Gratis</strike></p>
                <br>
                <a href="https://api.whatsapp.com/send?phone=[54][1165306849]" target="_blank" class="btn">Contactar
                    Ahora</a>
            </center>

        </article>
    </section>
    <!-- informacion -->
</main>