<main class="holder">
    <section class="historia">
        <h2>Casos Resueltos</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor quibusdam fuga nesciunt aperiam facere
            doloribus ex quidem culpa odio accusamus temporibus, modi placeat perferendis, id explicabo. Fugiat
            labore repudiandae beatae.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor quibusdam fuga nesciunt aperiam facere
            doloribus ex quidem culpa odio accusamus temporibus, modi placeat perferendis, id explicabo. Fugiat
            labore repudiandae beatae.</p>
    </section>
    <section class="estado">
        <h2>Equipo De Trabajo</h2>
        <div class="personas">
            <div class="persona">
                <img src="images/caras-personas (2).jpg" alt="" title="Gerente">
                <h5>Ivan Coronel Serantoni</h5>
                <h6>Gerente </h6>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi vel vero pariatur atque velit
                    voluptate possimus magnam, nulla facere enim ad deleniti rem eveniet dolore aliquam eius
                    blanditiis. Obcaecati, doloremque?</p>
            </div>
            <div class="persona">
                <img src="images/caras-personas (1).jpg" alt="" title="Jefa">
                <h5>Sofia Blet</h5>
                <h6>Jefa </h6>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi vel vero pariatur atque velit
                    voluptate possimus
                    magnam, nulla facere enim ad deleniti rem eveniet dolore aliquam eius blanditiis. Obcaecati,
                    doloremque?</p>
            </div>
            <div class="persona">
                <img src="images/caras-personas (4).jpg" alt="" title="Atención al cliente">
                <h5>Jose Adrian</h5>
                <h6>Atención al cliente </h6>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi vel vero pariatur atque velit
                    voluptate possimus
                    magnam, nulla facere enim ad deleniti rem eveniet dolore aliquam eius blanditiis. Obcaecati,
                    doloremque?</p>
            </div>
            <div class="persona">
                <img src="images/caras-personas (3).jpg" alt="" title="Abogada">
                <h5>Celia Ayala</h5>
                <h6>Abogada </h6>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi vel vero pariatur atque velit
                    voluptate possimus
                    magnam, nulla facere enim ad deleniti rem eveniet dolore aliquam eius blanditiis. Obcaecati,
                    doloremque?</p>
            </div>
            <div class="persona">
                <img src="images/caras-personas (1).jpg" alt="" title="Suplente">
                <h5>Mari Luisantos</h5>
                <h6>Suplente </h6>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi vel vero pariatur atque velit
                    voluptate possimus
                    magnam, nulla facere enim ad deleniti rem eveniet dolore aliquam eius blanditiis. Obcaecati,
                    doloremque?</p>
            </div>




        </div>
    </section>
</main>